version: "3.9"

services:
  kellcare:
    build:
      context: .
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      DJANGO_SETTINGS_MODULE: kellcare_project.settings
      SKIP_MIGRATIONS: ${SKIP_MIGRATIONS:-0}
    restart: unless-stopped
